::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 0px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}


$modal-overlay-bg-color: rgba(0, 0, 0, 0.9);
$modal-max-width: 1200px;
$modal-padding: 20px;
$modal-border-radius: 4px;
$modal-text-margin-top: 10px;
$modal-text-container-margin-left: 20px;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-overlay-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .modal {
    background-color: $px-altbeige;
    max-width: $modal-max-width;
    padding: $modal-padding;
    border-radius: $modal-border-radius;
    position: relative;

    .modal-content {
      display: flex;
      top: 50%;
      margin-top: 0;
      flex-direction: column;
      max-height: 80vh;
      overflow-y: auto;
      

      .close {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        font-size: 2rem;
      }

      .modal-body {
        display: flex;

        .image-container {
            border: 10px solid #372231;
          img {
            display: block;
            height: 800px;
            // max-height: 100vh;
          }
        }

        .text-container {
          flex-basis: 60%;
          margin-left: $modal-text-container-margin-left;
          h2,
          h3,
          p {
            margin: 0;
          }

          a {
            display: block;
            margin-top: $modal-text-margin-top;
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    .modal {
      .modal-content {
        flex-direction: column;

        .modal-body {
          flex-direction: column-reverse;

          .image-container {
            margin-top: 2rem;
            img {
              height: auto;
              width: 100%;
            }
          }
          
          .text-container {
            margin-left: 0;
            margin-top: $modal-text-margin-top;
          }
        }
      }
    }
  }
}
